.header
  right rem($baseOffset)
  top rem($baseOffset)
  z-index 50
  transition color .3s ease

  &_color
    &_black
      color $black

  &__logo
    color currentColor
    font-size rem(30)

  &__logo-icon
    min-height 21px
    min-width 131px
