@import "~blocks/hidden"

.loader
  &__body
    abs()
    z-index 15
    display flex
    align-items center
    justify-content center

  &_ui
    &_black
      color $blue

      .loader__cover
        background $white

    &_white
      color $red

      .loader__cover
        background $black

  &__cover
    abs()
    z-index 1

  &__value
    text-bigger()
    position relative
    z-index 2
