mixin link(props)
  - var props = typeof props != 'undefined' ? props : {}

  - var attrs = props.attrs || {}
  - var tag = props.tag || 'a'
  - var mods = props.mods || {}
  - var mix = props.mix ? {'class': props.mix} : {}

  #{tag}.link(
    class= mods.nowrap ? "link_nowrap" : ""
    class= mods.inverted ? "link_inverted" : ""
  )&attributes(attrs, mix)
    block
