.fade-enter-active
.fade-leave-active
    transition opacity .5s

.fade-enter
.fade-leave-to
    opacity 0

.text-fade-enter-active
.text-fade-leave-active
  transition opacity .1s

.text-fade-enter
.text-fade-leave-to
  opacity 0
