.heading-1-regular-up
  heading-1(400, uppercase)

.heading-1-medium-up
  heading-1(500, uppercase)

.heading-2-medium-up
  heading-2(500, uppercase)

.heading-3-medium-up
  heading-3(500, uppercase)

.text-1-regular
  text-1(400)

.text-2-regular
  text-2(400)

.text-2-regular-up
  text-2(400, uppercase)

.text-2-medium
  text-2(500)

.text-2-medium-up
  text-2(500, uppercase)

.pre-line
  white-space pre-line
