include ../../node_modules/bemto.pug/bemto

mixin button-cross(props)
  - var props = typeof props != 'undefined' ? props : {}

  - var attrs = props.attrs || {}
  - var mods = props.mods || {}
  - var mix = props.mix ? {'class': props.mix} : {}

  +b.BUTTON.button-cross&attributes(attrs, mix)
    +e.inner
