.button-cross
  add-area(100, 100)
  width rem(80)
  height rem(80)
  color currentColor
  cursor pointer
  transition transform .3s ease, opacity .3s ease
  transform rotate(0) translateZ(0)
  cursor pointer

  &_state_cross
    .button-cross__inner

      &:before
        transform rotate(45deg) translateY(0px) translateZ(0)

      &:after
        transform rotate(-45deg) translateY(0px) translateZ(0)

  &_color
    &_black
      color $black

  &_disabled
    cursor default
    opacity .4

  &__inner
    position absolute
    height rem(4)
    min-height 2px
    top 8px
    width 100%

    &:before
    &:after
      abs()
      content ''
      transform-origin 50%
      width 100%
      background currentColor
      transition transform .3s ease

    &:before
      transform "rotate(0) translateY(%s) translateZ(0)" % rem(-8)

    &:after
      transform "rotate(0) translateY(%s) translateZ(0)" % rem(8)
