@import "vendor/normalized.styl"
@import "blocks/**/*"

fonts('fondo', 'Fondo', 600)
fonts('goodPro', 'GoodProLight', 300)
fonts('goodPro', 'GoodPro', 400)
fonts('goodPro', 'GoodProMedium', 600)

body
  text-small()
  font-family 'goodPro', Helvetica, sans-serif
  overflow hidden
  font-weight 400
