include ../../node_modules/bemto.pug/bemto
include /text-elements/text-elements

+b.text
  +e.wrapper
    template(v-if="isMobile")
      +subtitle {{ data.title }}
      +text-small({
        attrs: {
          "v-html": "data.text_left"
        },
        mix: "text__part"
      })
      +text-small({
        attrs: {
          'v-html': "data.text_right"
        },
        mix: "text__part"
      })

    template(v-else)
      +e.column
        +e.content._align_right
          +subtitle {{ data.title }}
          +text-mid({
            attrs: {
              "v-html": "data.text_left"
            }
          })
      +e.column
        +e.content
          +subtitle
          +text-mid({
            attrs: {
              "v-html": "data.text_right"
            }
          })
