link-style()
  color currentColor
  transition opacity .3s ease, color .3s ease
  background none
  text-decoration none
  cursor pointer
  position relative
  -webkit-tap-highlight-color transparent
  opacity 1

  &.router-link-active
  &.nuxt-link-active
    opacity .4

  &:hover
    .page:not(.page_platform_mobile) &
      opacity .6

  &:disabled
    opacity .4
    cursor default

container()
  width 100%
  max-width 1130px
  padding-left $baseOffset
  padding-right $baseOffset
  margin-left auto
  margin-right auto

container-large()
  container()
  max-width 1310px

scroll()
  height 100%
  overflow hidden
  overflow-y scroll
  -webkit-overflow-scrolling touch
