title-big()
  font-size 80px
  font-weight 800
  text-transform uppercase
  line-height (85 / 80)
  margin-left -.05em

  +tablet()
    font-size 60px

  +mobile()
    font-size 32px

title-medium()
  font-size 32px
  font-weight 800
  text-transform uppercase
  line-height (40 / 32)

  +mobile()
    font-size 24px

title-small()
  font-size 18px
  font-weight 600
  letter-spacing (1em / 18)
  text-transform uppercase
  line-height (22 / 18)

text-big()
  font-size 24px
  line-height (42 / 24)

  +mobile()
    font-size 18px

text-medium()
  font-size 18px
  line-height (29 / 18)

  +mobile()
    font-size 16px

text-small()
  font-size 16px
  line-height (26 / 16)
