heading-1(weight = 500, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(120)
  line-height (130 / 120)

  +mobile()
    font-size rem(44)
    line-height (46 / 44)

heading-2(weight = 500, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(90)
  line-height (100 / 90)

  +mobile()
    font-size rem(34)
    line-height (40 / 34)

text-1(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(50)
  line-height (75 / 50)

  +mobile()
    font-size rem(24)
    line-height (34 / 24)

text-2(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(40)
  line-height (50 / 40)

  +mobile()
    font-size rem(20)
    line-height (26 / 20)
