mixin grid-item(props)
  - var props = typeof props != 'undefined' ? props : {}

  - var attrs = props.attrs || {}
  - var tag = props.tag || 'div'
  - var mods = props.mods || {}
  - var mix = props.mix ? {'class': props.mix} : {}

  #{tag}.grid__item(
    class= mods.size ? `grid__item_size_${mods.size}` : "",
    class= mods.offset ? "grid__item_offset" : ""
  )&attributes(attrs, mix)
    block
