.grid
  display flex

  &__column
    container()
    display flex
    width 50%

    &_size
      &_full
        width auto
        flex-grow 1

  &__item
    width (100% / 3)

    +tablet()
      width 50%

    +phone()
      container()
      flex-grow 1

    &_size
      &_2
        width (100% / 3 * 2)

        +tablet()
          width 50%

      &_full
        width auto
        flex-grow 1

    &_offset
      padding-top "calc(50vh - %s)" % rem($baseOffset)
      position relative
